/* DISCIPLINA */
.course-description {
	border-left: 1px solid green;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

table {
	background-color: white !important;
}

/* DISCIPLINA 2*/
body {
	background-color: #CCFFCC;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

main {
  flex: 1 0 auto;
}

.border-green {
	border-color: green;
}

.discipline {
	height: 100px;
	border-radius: 3px;
	padding-top: 25px;
	margin-right: 30px;
	margin-top: 30px;
	color: #353535 !important;
}

.discipline:hover {
	text-decoration: none;
	color: #353535 !important;
}

.eixo {
	height: 40px;
	border-radius: 3px;
	padding-top: 7px;
	margin-right: 10px;
}

.exb {
	background-color: grey;
}

.exc {
	background-color: orange;
}

.exh {
	background-color: lightblue;
}

.ext {
	background-color: lightgreen;
}

.margin-top-5 {
	margin-top: 5px;
}

.margin-top-25 {
	margin-top: 25px;
}

.padding-right-left-50 {
	padding-right: 50px;
	padding-left: 50px;
}

.semester {
	height: 40px;
	border-radius: 3px;
	background-color: green;
	color: white;
	padding-top: 7px;
	margin-right: 10px;
}

#eixoall {
	background-color: green;
}

#eixob {
	background-color: grey;
}

#eixoc {
	background-color: orange;
}

#eixoh {
	background-color: lightblue;
}

#eixot {
	background-color: lightgreen;
}