.align-center {
	text-align: center;
}

.align-justify {
	text-align: justify;
}

.footer-icon {
	color: #6290C3; /*#002288*/
	font-size: 18px !important;
}

.footer-title {
	margin-top: 15px;
	color: #6290C3; /*#699DDE*/
	font-size: 15px;
	text-align: center;
}

.margin-top-10 {
	margin-top: 10px;
}

#footer {
	flex-shrink: 0;
	left: 0;
    bottom: 0;
    width: 100%;
    background-color: #041B15; /*#151515*/
    color: #FFFFFF;
    font-size: 12px;
    margin-top: 10px;
}