body {
	background-color: #C6EBBE; /*#CCFFCC*/
	display: flex;
	flex-direction: column;
	height: 100vh;
}

main {
	flex: 1 0 auto;
}

.height-315 {
	height: 315px;
}

.img-boxes:hover {
	opacity: 0.3;
}

.jumbotron {
	background-color: #008148; /* green */
	color: white;
}

.link-boxes {
	position: relative;
	background-color: #87C38F;/*cyan*/
	height: 315px;
	width: 315px;
}

.link-boxes span {
	position: absolute;
	color: white;
	font-size: 50px;
	font-weight: bold;
}

.link-boxes-same-size {
	padding-top: 144px;
	padding-bottom: 150px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-left--210 {
	margin-left: -210px;
}

.margin-left--280 {
	margin-left: -280px;
}

.margin-left--285 {
	margin-left: -285px;
}

.margin-left--290 {
	margin-left: -290px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top--20 {
	margin-top: -20px;
}

.margin-top--30 {
	margin-top: -30px;
}

.margin-top-40 {
	margin-top: 40px;
}

.margin-top-60 {
	margin-top: 60px;
}

.margin-top-85 {
	margin-top: 85px;
}

.margin-top-110 {
	margin-top: 110px;
}

.margin-top-115 {
	margin-top: 115px;
}

.width-315 {
	width: 315px;
}

#link-box-lais {
	padding-top: 108px;
	padding-bottom: 185px;
}

#link-box-leds {
	padding-top: 86px;
	padding-bottom: 207px;
}

#link-box-lite {
	padding-top: 101px;
	padding-bottom: 192px;
}