main {
	margin-top: 60px;
}

.margin-left-10 {
	margin-left: 10px;
}

.margin-right-40 {
	margin-right: 40px;
}

.margin-left-80 {
	margin-left: 80px;
}

.navbar {
	background-color: #699DDE !important;
	box-shadow: 0px 2px 2px #EEEEEE;
}

#logo {
	height: 38px;
	width: 30px;
	margin-top: -8px;
}

#logo-link {
	text-decoration: none;
}

#si {
	color: #DDDDDD;
	margin-left: 5px;
	font-size: 15px;
}