body{
  background-color: #C6EBBE;
}

.card-img-top {
	height: 180px;
}

.margin-top-80 {
	margin-top: 80px;
}

.margin-bottom-15 {
	margin-bottom: 15px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}
