body{
  background-color: #D9F2DF;
}

.margin-bottom-15 {
	margin-bottom: 15px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.margin-left-5 {
	margin-left: 5px;
}

.margin-left--15 {
	margin-left: -15px;
}

.margin-right--15 {
	margin-right: -15px;
}

.margin-top-80 {
	margin-top: 80px;
}

.card-img-top {
	box-shadow: 0px 1px 1px 1px;
	margin-bottom: 5px;
}

.card-img-top:hover
{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}